.FileUploader {
    height: auto;
    width: 35rem;
    z-index: 100 !important;
    position: relative;
    border: 4px dashed rgba(200,200,200, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: .3s ease-out;
    margin-bottom: 2rem;
}

.FileUploader:hover {
    background: #202020 !important;
}

.FileUploader svg {
    opacity: .6;
}

.FileUploader button {
    padding: .8rem 1.5rem;
    background: none;
    border: 2px solid var(--blue);
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-out;
    display: block;
}

.FileUploader button:hover {
    background: var(--blue);
}

#info {
    text-align: center;
    opacity: .6;
    font-size: .8rem;
}


.svgIcoContainer {
    height: 10rem;
    display: flex;
    align-items: center;
}

.FileUploader div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dragndropinfo {
    opacity: .6;
    font-size: .8rem;
    text-align: center;
}

#opts {
    display: unset;
    transition: .2s ease-out;
}

#uploadList {
    border: 1px solid red;
}


/* .svgLoading svg {
    opacity: 1;
    animation: loadingSvg 5s linear infinite;
}


@keyframes loadingSvg {
    0% {
        stroke: #fff;
    }
    30% {
        stroke: var(--blue);
        filter: drop-shadow(0 0 5px var(--blue));
    }
    70% {
        stroke: var(--blue);
        filter: drop-shadow(0 0 5px var(--blue));
    }
    100% {
        stroke: #fff;
    }
} */


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: none;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid var(--blue);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 