.Navbar {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#ul {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ul * {
    margin: 0 1.5rem;
}

.link {
    cursor: pointer;
    opacity: .5;
    transition: .2s ease-out;
}

.link:hover {
    opacity: 1;
}

#DiscordLoginBtn {
    border: 2px solid var(--blue);
    padding: 1rem 1.5rem;
    border-radius: 4px;
    transition: .2s ease-in;
}

#DiscordLoginBtn:hover {
    background: var(--blue);
}