.UserMenu {
    height: 2.75rem;
    width: 2.75rem;
    z-index: 10;
    position: relative;
    margin: 0 1.5rem;
}

#avatarBg {
    height: 2.75rem;
    width: 2.75rem;
    background-size: contain;
    border-radius: 100%;
    transition: .2s ease-out;
    opacity: .6;
    margin: 0 !important;
    cursor: pointer;
    z-index: 100 !important;
}

#avatarBg:hover {
    opacity: 1;
    filter: drop-shadow(0 0 3px var(--blue));
}

.Dropdown {
    position: absolute;
    right: -.2rem;
    top: 3rem;
    height: auto;
    width: max-content;
    max-width: 15rem;
    padding: .35rem .5rem;
    background: #0f0f0f;
    border: 1px solid rgba(255,255,255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    opacity: 0;
    transition: .2s ease-out;
}

#divider {
    height: 1px;
    width: 80%;
    background: rgba(255,255,255, .1);
    margin: .3rem 0;
}

#userInfo {
    height: min-content;
}

#userInfo h4 {
    margin: 1rem 0 !important;
}

.usermenudown {
    opacity: 1 !important;
}

#avatarBg:focus + .Dropdown {
    opacity: 1 !important;
    top: 3.5rem;
}
#avatarBg:focus {
    opacity: 1 !important;
}